<nav>
  <ul>
    <li><a href="./index.html">top</a></li>
    <li><a href="./second.html">second</a></li>
    <li><a href="./third.html">third</a></li>
    <li><a href="./wave.html">wave</a></li>
    <li><a href="./wave2.html">wave2 </a></li>
    <li><a href="./fourth.html">fourth</a></li>
  </ul>
</nav>
