#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

canvas {
  border: 1px solid gray;
}

nav {
  margin-inline: auto;
  max-width: 1000px;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}
